@media screen and (min-width:463.5px){
		.container{
			width:100%;
		}
		.div-n-1{
			witdh:8.334%;
			float:left;
		}
		.div-n-2{
			witdh:16.667%;
			float:left;
		}
		.div-n-3{
			width:25%;
			float:left;
		}
		.div-n-4{
			width:33.334%;
				float:left;
		}
		.div-n-5{
			width:41.667%;
				float:left;
		}
		.div-n-6{
			width:50%;
				float:left;
		}
		.div-n-7{
			width:58.334%;
				float:left;
		}
		.div-n-8{
			witdh:66.667%;
				float:left;
		}
		.div-n-9{
			width:75%;
				float:left;
		}
		.div-n-10{
			width:83.334%;
				float:left;
		}
		.div-n-11{
			width:91.667%;
				float:left;
		}
		.div-n-12{
			width:100%;
				float:left;
		}
		.div-n-hide{
			display:none;
		}
	}
	@media screen and (min-width:730px){
		.container{
			width:100%;
		}
		.div-s-1{
			witdh:8.334%;
				float:left;
		}
		.div-s-2{
			witdh:16.667%;
				float:left;
		}
		.div-s-3{
			width:25%;
				float:left;
		}
		.div-s-4{
			width:33.334%;
				float:left;
		}
		.div-s-5{
			width:41.667%;
				float:left;
		}
		.div-s-6{
			width:50%;
				float:left;
		}
		.div-s-7{
			width:58.334%;
				float:left;
		}
		.div-s-8{
			witdh:66.667%;
				float:left;
		}
		.div-s-9{
			width:75%;
				float:left;
		}
		.div-s-10{
			width:83.334%;
				float:left;
		}
		.div-s-11{
			width:91.667%;
				float:left;
		}
		.div-s-12{
			width:100%;
				float:left;
		}
		.div-n-hide{
			display:block;
		}
		.div-s-hide{
			displat:none;
		}
		
	}
	@media screen and (min-width:1075px){
	.container{
		width:600px;
	}
	.div-l-1{
		witdh:8.334%;
			float:left;
	}
	.div-l-2{
		witdh:16.667%;
			float:left;
	}
	.div-l-3{
		width:25%;
			float:left;
	}
	.div-l-4{
		width:33.334%;
			float:left;
	}
	.div-l-5{
		width:41.667%;
			float:left;
	}
	.div-l-6{
		width:50%;
			float:left;
	}
	.div-l-7{
		width:58.334%;
			float:left;
	}
	.div-l-8{
		witdh:66.667%;
			float:left;
	}
	.div-l-9{
		width:75%;
			float:left;
	}
	.div-l-10{
		width:83.334%;
			float:left;
	}
	.div-l-11{
		width:91.667%;
			float:left;
	}
	.div-l-12{
		width:100%;
			float:left;
	}
	.div-n-hide{
		display:block;
	}
	.div-s-hide{
		displat:none;
	}
	
}
	