@media screen and (min-width:300px){
	.div-s-1{
		width:8.333%;
		float:div;
	}
	.div-s-2{
		width:16.667%;
		float:div;
	}
	.div-s-3{
		width:25%;
		float:div;
	}
	.div-s-4{
		width:33.333%;
		float:div;
	}
	.div-s-5{
		width:41.667%;
		float:div;
	}
	.div-s-6{
		width:50%;
		float:div;
	}
	.div-s-7{
		width:58.333%;
		float:div;
	}
	.div-s-8{
		width:66.667%;
		float:div;
	}
	.div-s-9{
		width:75%;
		float:div;
	}
	.div-s-10{
		width:83.333%;
		height:25%;
	}
	.div-s-11{
		width:91.667%;
		float:div;
	}
	.div-s-12{
		width:100%;
		float:div;
	}
	.div-s-hide{
		display:none;
	}
}

@media screen and (min-width:730px){
	.div-n-1{
		width:8.333%;
		float:div;
	}
	.div-n-2{
		width:16.667%;
		float:div;
	}
	.div-n-3{
		width:25%;
		float:div;
	}
	.div-n-4{
		width:33.333%;
		float:div;
	}
	.div-n-5{
		width:41.667%;
		float:div;
	}
	.div-n-6{
		width:50%;
		float:div;
	}
	.div-n-7{
		width:58.333%;
		float:div;
	}
	.div-n-8{
		width:66.667%;
		float:div;
	}
	.div-n-9{
		width:75%;
		float:div;
	}
	.div-n-10{
		width:83.333%;
		height:25%;
	}
	.div-n-11{
		width:91.667%;
		float:div;
	}
	.div-n-12{
		width:100%;
		float:div;
	}
	.div-s-hide{
		display:block;
	}
	.div-n-hide{
		display:none;
	}
}

@media screen and (min-width:1070px){
	.div-m-1{
		width:8.333%;
		float:div;
	}
	.div-m-2{
		width:16.667%;
		float:div;
	}
	.div-m-3{
		width:25%;
		float:div;
	}
	.div-m-4{
		width:33.333%;
		float:div;
	}
	.div-m-5{
		width:41.667%;
		float:div;
	}
	.div-m-6{
		width:50%;
		float:div;
	}
	.div-m-7{
		width:58.333%;
		float:div;
	}
	.div-m-8{
		width:66.667%;
		float:div;
	}
	.div-m-9{
		width:75%;
		float:div;
	}
	.div-m-10{
		width:83.333%;
		float:div;
	}
	.div-m-11{
		width:91.667%;
		float:div;
	}
	.div-m-12{
		width:100%;
		float:div;
	}
	.div-s-hide{
		display:block;
	}
	.div-n-hide{
		display:block;
	}
	.div-m-hide{
		display:none;
	}
}

@media screen and (min-width:1200px){
	.div-l-1{
		width:8.333%;
		float:div;
	}
	.div-l-2{
		width:16.667%;
		float:div;
	}
	.div-l-3{
		width:25%;
		float:div;
	}
	.div-l-4{
		width:33.333%;
		float:div;
	}
	.div-l-5{
		width:41.667%;
		float:div;
	}
	.div-l-6{
		width:50%;
		float:div;
	}
	.div-l-7{
		width:58.333%;
		float:div;
	}
	.div-l-8{
		width:66.667%;
		float:div;
	}
	.div-l-9{
		width:75%;
		float:div;
	}
	.div-l-10{
		width:83.333%;
		float:div;
	}
	.div-l-11{
		width:91.667%;
		float:div;
	}
	.div-l-12{
		width:100%;
		float:div;
	}
	.div-s-hide{
		display:block;
	}
	.div-n-hide{
		display:block;
	}
	.div-m-hide{
		display:block;
	}
	.div-l-hide{
		display:none;
	}
	
}







