*{
    margin: 0;
    padding: 0;
}
.apple{
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}
.apple .iPhoneXR{
    width: 1518px;
    height: 580px;
    margin: auto;
    border: 1px solid blue;
}
/*
.iPhoneXR .top-title{
    height: 198px;
    border: 1px solid #1eb7ff;
}*/
