.top{
    width:100% ;
    height: 84px;
}
.top-1{
    width: 100%;
    height: 40px;
    background-color: #101013c7;
}
.top-2{
    width: 100%;
    height: 44px;
    background: #333333;
}

/*@media screen and (min-width:1070px){*/
    .main-iphone-xr{
        width: 100%;
        height: 580px;
        margin:20px auto;
        background-color: #fafafa;
    }
    .main-iphone-xr h2{
        width: 214px;
        height: 43px;
        margin:10px auto;
        text-align: center;
        font-size: 40px;
        color: #222222;
        font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main-iphone-xr h3{
        width: 543px;
        height: 64px;
        margin: auto;
        font-size: 22px;
        line-height: 30px;
        font-style: normal;
        font-weight: 500;
        letter-spacing:2px;
        text-align: center;
        color: #222222;
    }
    .main-iphone-xr .main-know-xr{
        width: 220px;
        height: 29px;
        margin: auto;
        font-size: 20px;
        line-height: 25px;
        position: relative;
    }
    .main-iphone-xr a:nth-child(2){
        float: left;
        width: 140px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-iphone-xr a:nth-child(3){
        float: left;
        width: 64px;
        height: 100%;
        text-align: right;
        color: #0070c9;
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-img-xr{
        width: 100%;
        height: 350px;
        margin:15px auto;
        background-size: 639px 349px;
        background-image: url("./images/iphone_xr__b0z59ak0bqdy_large_看图王.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
@media screen and (max-width:1070px){
    .main-iphone-xr{
        width: 100%;
        height: 569px;
        margin: auto;
        background-color: #fafafa;
    }
    .main-iphone-xr h2{
        width: 200px;
        height: 35px;
        margin:10px auto;
        text-align: center;
        font-size: 30px;
        color: #222222;
        font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main-iphone-xr h3{
        width: 543px;
        height: 60px;
        margin: auto;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 2px;
        text-align: center;
        color: #222222;
    }
    .main-iphone-xr .main-know-xr{
        width: 194px;
        height: 29px;
        margin: auto;
        font-size: 20px;
        line-height: 25px;
        position: relative;
    }
    .main-iphone-xr a:nth-child(2){
        float: left;
        width: 110px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-iphone-xr a:nth-child(3){
        float: left;
        width: 54px;
        height: 100%;
        text-align: right;
        color: #0070c9;
    }
    .main-img-xr{
        width: 100%;
        height: 350px;
        margin:15px auto;
        background-size: 590px 329px;
        background-image: url("./images/iphone_xr__b0z59ak0bqdy_medium.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width:730px) {


    .main-iphone-xr {
        width: 100%;
        height: 710px;
        margin: auto;
        background-color: #fafafa;
    }

    .main-iphone-xr h2 {
        width: 200px;
        height: 24px;
        margin: auto;
        text-align: center;
        font-size: 25px;
        color: #222222;
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .main-iphone-xr h3 {
        width: 607px;
        height: 25px;
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        letter-spacing: .005em;
        text-align: center;
        color: #222222;
    }

    .main-iphone-xr .main-know-xr {
        width: 187px;
        height: 27px;
        margin: auto;
        font-size: 16px;
        line-height: 25px;
        position: relative;
    }

    .main-iphone-xr a:nth-child(2) {
        float: left;
        width: 110px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }

    .main-iphone-xr a:nth-child(3) {
        float: left;
        width: 54px;
        height: 100%;
        text-align: right;
        color: #0070c9;
        position: absolute;
        left: 120px;
        top: 0;
    }

    .main-img-xr {
        width: 622px;

        height: 352px;
        margin: 15px auto;
        background-size: 279px 351px;
        background-image: url("./images/iphone_xr__b0z59ak0bqdy_small_看图王.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}


.main-iphone-xs{
    width: 100%;
    height: 580px;
    margin:20px auto;
    background-color: #fafafa;
}
.main-iphone-xs h2{
    width: 214px;
    height: 43px;
    margin:10px auto;
    text-align: center;
    font-size: 40px;
    color: #222222;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.main-iphone-xs h3{
    width: 600px;
    height: 95px;
    margin: auto;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing:2px;
    text-align: center;
    color: #222222;
}
.main-iphone-xs .main-know-xs{
    width: 220px;
    height: 29px;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
    position: relative;
}
.main-iphone-xs a:nth-child(2){
    float: left;
    width: 140px;
    height: 100%;
    color: #0070c9;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}
.main-iphone-xs a:nth-child(3){
    float: left;
    width: 64px;
    height: 100%;
    text-align: right;
    color: #0070c9;
    position: absolute;
    right: 0;
    top: 0;
}
 .main-iphone-xr .main-img-xs{
    width: 100%;
    height: 320px;
    margin:15px auto;
    background-size: auto 349px;
    background-image: url("./images/main__bmngiblug0mq_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width:1070px){
    .main-iphone-xs{
        width: 100%;
        height: 569px;
        margin: auto;
        background-color: #fafafa;
    }
    .main-iphone-xs h2{
        width: 200px;
        height: 35px;
        margin:10px auto;
        text-align: center;
        font-size: 30px;
        color: #222222;
        font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main-iphone-xs h3{
        width: 534px;
        height: 87px;
        margin: auto;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        color: #222222;
    }
    .main-iphone-xs .main-know-xs{
        width: 194px;
        height: 29px;
        margin: auto;
        font-size: 20px;
        line-height: 25px;
        position: relative;
    }
    .main-iphone-xr a:nth-child(2){
        float: left;
        width: 110px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-iphone-xr a:nth-child(3){
        float: left;
        width: 54px;
        height: 100%;
        text-align: right;
        color: #0070c9;
    }
    .main-img-xr{
        width: 100%;
        height: 320px;
        margin:15px auto;
        background-size: 643px 284px;
        background-image: url("./images/main__bmngiblug0mq_medium.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width:730px) {


    .main-iphone-xs {
        width: 100%;
        height: 710px;
        margin: auto;
        background-color: #fafafa;
    }

    .main-iphone-xs h2 {
        width: 200px;
        height: 24px;
        margin: auto;
        text-align: center;
        font-size: 25px;
        color: #222222;
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .main-iphone-xs h3 {
        width: 607px;
        height: 50px;
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        letter-spacing: .005em;
        text-align: center;
        color: #222222;
    }

    .main-iphone-xs .main-know-xs{
        width: 187px;
        height: 27px;
        margin: auto;
        font-size: 16px;
        line-height: 25px;
        position: relative;
    }

    .main-iphone-xs a:nth-child(2) {
        float: left;
        width: 110px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }

    .main-iphone-xs a:nth-child(3) {
        float: left;
        width: 54px;
        height: 100%;
        text-align: right;
        color: #0070c9;
        position: absolute;
        left: 120px;
        top: 0;
    }
    .main-img-xs {
        width: 640px;
        height: 352px;
        margin: 15px auto;
        background-size: 634px 285px;
        background-image: url("./images/main__bmngiblug0mq_small.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}


.main-iphone-wt{
    width: 100%;
    height: 580px;
    margin:20px auto;
    background-color: #fafafa;
}
.main-iphone-wt h2{
    width: 214px;
    height: 43px;
    margin:10px auto;
    text-align: center;
    font-size: 40px;
    color: #222222;
    font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.main-iphone-wt h3{
    width: 600px;
    height: 40px;
    margin: auto;
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing:2px;
    text-align: center;
    color: #222222;
}
.main-iphone-wt .main-know-wt{
    width: 220px;
    height: 29px;
    margin: auto;
    font-size: 20px;
    line-height: 25px;
    position: relative;
}
.main-iphone-wt a:nth-child(2){
    float: left;
    width: 140px;
    height: 100%;
    color: #0070c9;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}
.main-iphone-wt a:nth-child(3){
    float: left;
    width: 64px;
    height: 100%;
    text-align: right;
    color: #0070c9;
    position: absolute;
    right: 0;
    top: 0;
}
.main-img-wt{
    width: 100%;
    height: 350px;
    margin:15px auto;
    background-size: auto 349px;
    background-image: url("./images/watch__csqqcayzqueu_large.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (max-width:1070px){
    .main-iphone-wt{
        width: 100%;
        height: 569px;
        margin: auto;
        background-color: #fafafa;
    }
    .main-iphone-wt h2{
        width: 200px;
        height: 35px;
        margin:10px auto;
        text-align: center;
        font-size: 30px;
        color: #222222;
        font-family: "SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main-iphone-wt h3{
        width: 534px;
        height: 40px;
        margin: auto;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        letter-spacing: 2px;
        text-align: center;
        color: #222222;
    }
    .main-iphone-wt .main-know-wt{
        width: 194px;
        height: 29px;
        margin: auto;
        font-size: 20px;
        line-height: 25px;
        position: relative;
    }
    .main-iphone-wt a:nth-child(2){
        float: left;
        width: 110px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }
    .main-iphone-wt a:nth-child(3){
        float: left;
        width: 54px;
        height: 100%;
        text-align: right;
        color: #0070c9;
    }
    .main-img-wt{
        width: 100%;
        height: 350px;
        margin:15px auto;
        background-size: 643px 284px;
        background-image: url("./images/watch__csqqcayzqueu_medium.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}
@media screen and (max-width:730px) {


    .main-iphone-wt {
        width: 100%;
        height: 710px;
        margin: auto;
        background-color: #fafafa;
    }

    .main-iphone-wt h2 {
        width: 200px;
        height: 24px;
        margin: auto;
        text-align: center;
        font-size: 25px;
        color: #222222;
        font-family: "SF Pro SC", "SF Pro Display", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .main-iphone-wt h3 {
        width: 607px;
        height: 25px;
        margin: auto;
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        letter-spacing: .005em;
        text-align: center;
        color: #222222;
    }

    .main-iphone-wt .main-know-wt{
        width: 187px;
        height: 27px;
        margin: auto;
        font-size: 16px;
        line-height: 25px;
        position: relative;
    }

    .main-iphone-wt a:nth-child(2) {
        float: left;
        width: 110px;
        height: 100%;
        color: #0070c9;
        text-align: left;
        position: absolute;
        left: 0;
        top: 0;
    }

    .main-iphone-wt a:nth-child(3) {
        float: left;
        width: 54px;
        height: 100%;
        text-align: right;
        color: #0070c9;
        position: absolute;
        left: 120px;
        top: 0;
    }
    .main-img-wt {
        width: 640px;
        height: 352px;
        margin: 15px auto;
        background-size: 634px 285px;
        background-image: url("./images/watch__csqqcayzqueu_small.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}